<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <head th:replace="~{base :: head}"><title></title></head>
    <body>
        <div th:replace="~{base :: logo}"></div>
        <div class="container">
            <div th:replace="~{base :: title('Login')}"></div>
            <div class="card mb-3">
                <label id="email">Usuário
                    <input id="input_email" name="email" class="form-control" placeholder="usuário"/>
                </label>
                <label id="password">Senha
                    <input id="input_password" type="password" name="password" class="form-control" placeholder="senha"/>
                </label>
                <button class="btn btn-primary" onclick="submit()">Login</button>
                <script th:inline="javascript">
                    function submit() {
                        console.log("submit");
                        let inputEmail = $("#input_email").val();
                        let input_password = $("#input_password").val();
                            $.ajax({
                                url: "http://localhost:8080/auth",
                                type: "post",
                                data: {
                                    "email": inputEmail,
                                    "password": input_password
                                },
                                error: function (e) {
                                    console.log(e);
                                    console.log("Error response text: ", e.responseText);
                                },
                                success: function (data) {
                                    console.log(data);
                                    console.log("Success response text: ", data.responseText);
                                    createLocalstorageItem(data);
                                    window.location.href = "http://localhost:8080/query_executer"
                                }
                            });
                    }
                </script>
            </div>
        </div>
    </body>
</html>